.about {
    border-radius: 8px;
    background-color: white;
    width: 100%;
    max-width: 1856px;
}

.title {
    // font-family: 'Roboto', sans-serif;
    font-size: 32pt;
    font-weight: 500;
    line-height: 32px;
    color: #1B1F23;
}

.text {
    margin-top: 24px;
    color: #1B1F23;
    // font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: 400; 
}
