@keyframes SpinMove {
  to {
    opacity: 1;
  }
}

@keyframes Rotate {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  color: #177ddc;
  text-align: center;
  vertical-align: middle;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  position: static;
  display: inline-block;
  opacity: 1;

  &__dot {
    position: relative;
    display: inline-block;
    font-size: 32px;
    width: 1em;
    height: 1em;
    transform: rotate(0deg);
    animation: Rotate 1.2s infinite linear;
  }

  &__item {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #177ddc;
    border-radius: 100%;
    transform: scale(0.75);
    transform-origin: 50% 50%;
    opacity: 0.3;
    animation: SpinMove 1s infinite linear alternate;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      right: 0;
      bottom: 0;
      animation-delay: 0.8s;
    }

    &:nth-child(4) {
      bottom: 0;
      left: 0;
      animation-delay: 1.2s;
    }
  }
}
