@import 'fonts';


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
  overflow: visible;
  padding: 32px 24px;
  position: sticky;
  top: 0;

  &-link {
      color: white;
      // font-family: 'Roboto', sans-serif;
      font-size: 32px;
      font-weight: 700;
      text-decoration: none;
  }
}

.header__cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__cart_count {
  height: 28px;
  width: 28px;
  border-radius: 8px;
  background-color: #ff5500;
  color: white;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.header__cart_icon {
  height: 32px;
}

html,
body {
  display: flex;
  flex-direction: column;

  max-width: 100vw;
  min-height: 100vh;
  // overflow-x: hidden;
  overflow: visible;
  margin: 0;
  position: sticky;
  top: 0;
}

main {
  flex-grow: 1;
  background-color: #F5F5F5;
  padding: 24px;
}

.footer {
  flex-shrink: 0;
  height: 86px;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  
  &-link {
    color: white;
    // font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

