.films {
    &__list {
        margin-top: 0;
        padding: 0;
        &_item {
            list-style: none;
            padding: 0;
            margin-bottom: 24px;
        }
    }
}


// input.active {
//     border: 1px solid #FF5500;
//     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
// }

// p.active {    
//     text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
// }

// button.active {
//     transform: rotate(.5turn);
//     transition: ease-in-out .3ms;
// }
