.yes {
  padding: 8px 16px;
  height: 40px;
  border: 0px;
  box-shadow: 0 0 0 0;
  border-radius: 8px;
  background-color: #ff5500;
  color: white;
  font-size: 14pt;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  &:hover {
    background-color: #e94e00;
    transition: 0.3ms;
  }
}

.no {
  @extend .yes;
  border: 1px solid #ff5500;
  background-color: rgba(0, 0, 0, 0);
  color: #ff5500;

  &:hover {
    border: 1px solid #e94e00;
    color: #e94e00;
    transition: 0.3ms;
  }
}

.plus {
  width: 20px;
  height: 20px;
  border: 0px;
  box-shadow: 0 0 0 0;
  border-radius: 4px;
  background-color: #ff5500;
  background-image: url('../../../../public/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 14pt;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  &:hover {
    background-color: #e94e00;
    transition: 0.3ms;
  }

  &:disabled {
    background-color: #ffa375;
  }
}

.minus {
  @extend .plus;
  background-color: #ff5500;
  background-image: url('../../../../public/minus.svg');

  &:hover {
    background-color: #e94e00;
    transition: 0.3ms;
  }

  &:disabled {
    background-color: #ffa375;
  }
}

.reset {
  background-image: url('./../../../../public/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
  border: 0px;
  box-shadow: 0 0 0;
  cursor: pointer;
}
.close {
  @extend .reset;
  width: 16px;
  height: 16px;
}
