.question {
  width: 1856px;
  text-align: left;
  padding: 24px;

  &__title {
    font-size: 24pt;
    font-weight: 500;
    line-height: 32px;
    color: #1b1f23;
  }
}

.answer {
  padding: 0;
  color: #1b1f23;
  font-size: 16pt;
  line-height: 24px;
  text-align: left;
}
