.question {
    width: 1856px;
    text-align: left;
    padding: 24px;

    &__title {
        // font-family: 'Roboto', sans-serif;
        font-size: 24pt;
        font-weight: 500;
        line-height: 32px;
        color: #1B1F23;
    }

}

.answer {
    padding: 0;
    color: #1B1F23;
    // font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 24px;
    text-align: left;
}
